= content_for :title, 'Sede'

%p La ExpoProyecto se realiza en la Universidad Nacional de La Matanza, Florencio Varela 1903, San Justo, Buenos Aires, Argentina. (#{link_to 'UNLaM en Google Maps', 'http://maps.google.com.ar/maps/place?cid=9828842850519854565&q=unlam&hl=es&cd=2&cad=src:pplink&ei=VZirS6S0KIbGM_SJlOkE'}). Ver también el <a href="/images/plano-acceso.png">plano de acceso</a>.

%center= image_tag 'unlam.jpg', class: 'venue'

%p 
  %strong Como llegar en tren:
  Línea Ex-Sarmiento - Metropolitano - Estación San Justo.

%p 
  %strong En automóvil:
  Desde la Ciudad de Buenos Aires, tomar Av Gral Paz en dirección Riachuelo, bajar en MOSCONI, tomar Av Mosconi de la provincia (es Av. Emilio Castro del lado de Capital), derecho (a la altura del 2400 se transforma en Av Arturo Illia). En Av Arturo Illia al 1800, cruzar la vía y doblar a la derecha en la primera calle, Zapiola, hasta la Av. Florencio Varela, doblar a la izquierda bordeando el predio de la Universidad hasta Avda. Tte. Gral. J.D. Perón (ex Kennedy). Allí doblar a la derecha, pasar el Estacionamiento de Docentes y continuar hasta el ingreso al Estacionamiento de Alumnos que es gratuito (en Avda. Tte. Gral. J.D. Perón (ex Kennedy) 2260, frente a sede San Justo del Hospital Italiano).

%p 
  %strong Transporte público:
  Líneas de colectivo: 113, 96, 88, 620, 621, 205, 46 y 174.