%p Hola #{@resource.email}!

%p Alguien ha requerido cambiar tu contraseña, puede hacerlo a través del siguiente enlace:

%p= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si usted no ha solicitado esto, por favor ignore este correo
%p 
  Su contraseña no cambiará
  %strong hasta
  que usted no acceda al enlace de arriba y cree una nueva.

= render "mail_footer"